@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Comfortaa');

.navbar-brand
{
    font-family: 'Black Han Sans', sans-serif;
    color: #333;
}

p
{
    font-family: 'Comfortaa', cursive;
}

h4
{
    font-family: 'Black Han Sans', sans-serif;
}

.flex
{
    margin: 5px;
}