{% extends 'machine/base.html' %}



{% block content %}
<div class = "container">


    <div class = "row">
        <div class = "col-lg-3">

            <div class = "row">
                <h3>
                    Ваш заказ
                </h3>
            </div>
            <div class = "row">
            <div class="list-group" id = "bucketList">

            </div>
            </div>
            <br>
            <div class = "row">
                <h4> Стоимость: <span id ="price">0</span> руб.</h4>
            </div>
            <div class = "row">
                <h4> <span id = "delivery">Сдача: 0 руб</span></h4>
            </div>
                <div id = "deliveryBlock">
                </div>
            <div class = "row">

                <button type="button" class="btn btn-secondary btn-lg" id="buy">Купить</button>

            </div>

        </div>


        <div class = "col-lg-9">

            <div class = "row justify-content-center">
                <h3>Вставьте монеты</h3>
            </div>

            <div class = "row justify-content-center" id = "buttons">
                {% for coin in coins %}

                <div class ="flex"><button type="button" class="btn btn-secondary btn-lg" id = "button-{{coin.value}}" value = "{{coin.value}}">{{coin.name}}</button></div>
                {% endfor %}
            </div>

            <div class = "row justify-content-center">
                <h3>Вы внесли</h3>
            </div>

            <div class = "row justify-content-center">
                <h1><span id = "allMoney">0</span> руб.</h1>
            </div>

            <div class = "row justify-content-center">
                {% for product in products %}
                <div class = "col-lg-4">

                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">#<span id="prod-id-{{product.id}}">{{product.id}}</span> {{product.name}}, <span id = "prod-cost-{{product.id}}">{{product.cost}}</span> rub.</h4>
                        </div>
                        <div class = "row justify-content-center">
                            <img style="height: 125px; width: 125px; display: block;" src="{{product.pic}}" alt="Card image">
                        </div>

                        <div class="card-body">
                            <p class="card-text">{{product.description}}</p>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-secondary btn-sm" id = "prod-{{product.id}}">Добавить в корзину</button>
                        </div>
                        <div class="card-footer text-muted">
                            <span id = "amount-{{product.id}}">{{product.amount}}</span> осталось
                        </div>
                    </div>

                </div>
                {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class = "row justify-content-center">
                {% endif %}
                {% endfor %}



            </div>


        </div>

    </div>



</div>
{% endblock %}