{% extends 'machine/base.html' %}



{% block content %}
<div class = "container">


    <div class = "row">
        <div class = "col-lg-3">

            <div class = "row">
                <h3>
                    Ваш заказ
                </h3>
            </div>
            <div class = "row">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Coca Cola 0,5
                </a>
                <a href="#" class="list-group-item list-group-item-action">Coca Cola 0,5
                </a>
                <a href="#" class="list-group-item list-group-item-action">Coca Cola 0,5
                </a>
            </div>
            </div>
            <br>
            <div class = "row">
                <h4> Стоимость: 45 руб.</h4>
            </div>
            <div class = "row">
                <h4> Сдача: 40 руб</h4>
            </div>
                <p>1 рубль х0</p>
                <p>2 рубля х0</p>
                <p>5 рублей х0</p>
                <p>10 рублей х4</p>
            <div class = "row">

                <button type="button" class="btn btn-secondary btn-lg">Купить</button>

            </div>

        </div>


        <div class = "col-lg-9">

            <div class = "row justify-content-center">
                <h3>Вставьте монеты</h3>
            </div>

            <div class = "row justify-content-center">
                {% for coin in coins %}

                <div class ="flex"><button type="button" class="btn btn-secondary btn-lg" id = "button-{{coin.value}}" value = "{{coin.value}}">{{coin.name}}</button></div>
                {% endfor %}
            </div>

            <div class = "row justify-content-center">
                <h3>Вы внесли</h3>
            </div>

            <div class = "row justify-content-center">
                <h1 id = "AllMoney">69 руб.</h1>
            </div>

            <div class = "row justify-content-center">
                {% for product in products %}
                <div class = "col-lg-4">

                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="card-title">#<span id="prod-id-{{product.id}}">{{product.id}}</span> {{product.name}}, <span id = "prod-cost-{{product.id}}">{{product.cost}}</span> rub.</h4>
                        </div>
                        <div class = "row justify-content-center">
                            <img style="height: 125px; width: 125px; display: block;" src="{{product.pic}}" alt="Card image">
                        </div>

                        <div class="card-body">
                            <p class="card-text">{{product.description}}</p>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-secondary btn-sm" id = "prod-{{product.id}}">Добавить в корзину</button>
                        </div>
                        <div class="card-footer text-muted">
                            <span id = "amount-{{product.id}}">{{product.amount}}</span> осталось
                        </div>
                    </div>

                </div>
                {% if forloop.counter|divisibleby:4 %}
                </div>
                <div class = "row justify-content-center">
                {% endif %}
                {% endfor %}



            </div>


        </div>

    </div>



</div>
{% endblock %}